openapi: 3.1.0
info:
  version: 1.0.0
  title: VStour - API del brazoWEB
  description: >-
    - VStour es un sistema de gestión específico para agencias de viaje. Incluye
    las tareas y procesos desde que se inicia el registro de la venta, la
    operación y todo lo que sea administrativo hasta incluso la contabilidad.

    - brazoWeb es un subsistema de autogestión web que permite ver la lista de
    facturas, descargarlas, ver la cuenta corriente y las operaciones a los
    clientes de la agencia que usa VStour.

    - cada cliente puede tener uno o mas contactos a los que se les puede dar
    acceso al brazoWeb. Por la lógica del sistema cada contacto solo ve las
    operaciones de ese cliente.

    - puede existir el caso en que un vendedor de la agencia actue en forma
    independiente siendo entonces un cliente de la agencia y a su vez le venda a
    terceros. VStour le permite almacenar esos terceros como clientes de si
    mismo.  
servers:
  - url: https://bw.vstour.com/_ar/desa/vstourApiBW/api1
    description: Servidor de Desarrollo
tags:
  - name: third-Parties
    description: para revendedores, sus clientes
  - name: passengers
    description: los pasajeros asociados al usuario del cliente logueado
  - name: files
    description: los expedientes
  - name: accounts
    description: la cuenta corriente del cliente logueado
  - name: invoices
    description: la lista de facturas en pdf para descargar
  - name: user
    description: la autenticación y sus datos asociados
paths:
  /third-Parties:
    get:
      tags:
        - third-Parties
      summary: obtiene una lista de los clientes activos del logueado
      operationId: thirdPartiesList
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/THIRDPARTIES'
        '400':
          description: bad request
        '404':
          description: third-Parties not found

  /third-Parties/{thirdPartiesId}:
    get:
      tags:
        - third-Parties
      summary: obtiene los datos de un cliente por el ID
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      description: devuelve los datos de un cliente
      operationId: getThirdPartiesById
      parameters:
        - name: thirdPartiesId
          in: path
          description: ID del cliente a devolver
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/THIRDPARTIES'
        '400':
          description: Invalid ID supplied
        '404':
          description: third-Parties not found
    post:
      tags:
        - third-Parties
      summary: agrega un nuevo cliente y devuelve el objeto creado
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      operationId: postThirdPartiesById
      parameters:
        - name: thirdPartiesId
          in: path
          description: ID del cliente a devolver
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/THIRDPARTIES'
      responses:
        '200':
          description: Operación exitosa
        '400':
          description: Invalid request
    put:
      tags:
        - third-Parties
      summary: modifica un registro completo
      operationId: putThirdPartiesById
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: thirdPartiesId
          in: path
          description: ID del cliente a devolver
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/THIRDPARTIES'
      responses:
        '200':
          description: Operación exitosa
        '400':
          description: Invalid request
    patch:
      tags:
        - third-Parties
      summary: modifica parcialmente un registro
      operationId: patchThirdPartiesById
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: thirdPartiesId
          in: path
          description: ID del cliente a devolver
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/THIRDPARTIES'
      responses:
        '200':
          description: Operación exitosa
        '400':
          description: Invalid request
    delete:
      tags:
        - third-Parties
      summary: desactiva el cliente del logueado y lo pone como no activo
      operationId: deleteThirdPartiesById
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: thirdPartiesId
          in: path
          description: ID del cliente a devolver
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Operación exitosa
        '400':
          description: Ha ocurrido al eliminar
        '404':
          description: third-Parties not found
  /passengers:
    get:
      tags:
        - passengers
      summary: Obtiene la lista de pasajeros asociados al usuario del cliente logueado
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      description: devuelve los datos de un cliente
      operationId: getPassengersByClient
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PASSENGERS'
        '400':
          description: Invalid ID supplied
        '404':
          description: Passengers not found
  /passenger/{PaxId}:
    get:
      tags:
        - passengers
      summary: Obtiene la lista de pasajeros asociados al usuario del cliente logueado
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      description: devuelve los datos de un cliente
      operationId: getPassengersByClient
      parameters:
        - name: PaxId
          in: path
          description: ID del cliente a devolver
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PASSENGER'
        '400':
          description: Invalid ID supplied
        '404':
          description: Passenger not found
  /provinces:
    get:
      tags:
        - provinces
      summary: Obtiene listado de provincias
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      description: devuelve provincias
      operationId: getProvinces
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PROVINCES'
        '400':
          description: error
        '404':
          description: Provinces not found
  /countries:
    get:
      tags:
        - countries
      summary: Obtiene listado de Paises 
      security:
          - ApiKeyAuth: []
          - BearerAuth: []
      operationId: countries
      responses:
        '200':
          description: succesfull operation
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/COUNTRIES'
        '400':
          description: bad request
        '404':
          description: countries not found
  /doctypes:
    get:
      tags:
        - doctypes
      summary: obtiene tipos de documentos
      security:
          - ApiKeyAuth: []
          - BearerAuth: []
      operationId: doctypes
      responses:
        '200':
          description: succesfull operation
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/DOCTYPES'
        '400':
          description: bad request
        '404':
          description: doctypes not found
  /nationality:
    get:
      tags:
        - nationality
      summary: obtiene las nacionalidades
      security:
          - ApiKeyAuth: []
          - BearerAuth: []
      operationId: nationality
      responses:
        '200':
          description: succesfull operation
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/NATIONALITYS'
        '400':
          description: bad request
        '404':
          description: doctypes not found
  /files:
    get:
      tags:
        - files
      summary: Obtiene la lista de expedientes
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      operationId: files
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FILES'
        '400':
          description: bad request
        '404':
          description: files not found
  /accounts:
    get:
      tags:
        - accounts
      summary: Obtiene la cuenta corriente del cliente logueado
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      operationId: accountsCta
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ACCOUNTS'
        '400':
          description: bad request
        '404':
          description: Accounts not found
  /invoices:
    get:
      tags:
        - invoices
      summary: Obtiene la lista de facturas en pdf para descargar
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      operationId: invoicesId
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/INVOICES'
        '400':
          description: bad request
        '404':
          description: Accounts not found
  /user:
    get:
      tags:
        - user
      summary: Obtiene datos asociados al usuario autenticado
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      operationId: userData
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description : Unauthorized (Token is missing or invalid)
        '400':
          description: Invalid Request
        '404':
          description: user not found
  /user/login:
    post:
      tags:
        - user
      summary: Logs user into the system
      security:
        - ApiKeyAuth: []
      operationId: loginUser
      requestBody:
        description: Credenciales de acceso del usuario
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: "prueba"
                password:
                  type: string
                  example: "prueba"
      responses:
        '200':
          description: successful operation
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Expires-After:
              description: date in UTC when token expires
              schema:
                type: string
                format: date-time
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: "AAAAABkrs%2FlK%2B0P64VRlVEsj%2B543vO%2FZ%2B01V2w%3D%3D"
                  status:
                    type: object
                    properties:
                      cod:
                        type: string
                        example: "200"
                      descrip:
                        type: string
                        example: "Ok"
        '400':
          description: Invalid username/password supplied
  /user/logout:
    get:
      tags:
        - user
      summary: Logs out current logged in user session
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      operationId: logoutUser
      responses:
        default:
          description: successful operation
  /user/{username}:
    get:
      tags:
        - user
      summary: Get user by user name
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      operationId: getUserByName
      parameters:
        - name: username
          in: path
          description: The name that needs to be fetched. Use user1 for testing.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid username supplied
        '404':
          description: User not found
    put:
      tags:
        - user
      summary: Updated user
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      description: This can only be done by the logged in user.
      operationId: updateUser
      parameters:
        - name: username
          in: path
          description: name that need to be updated
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Updated user object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid user supplied
        '404':
          description: User not found
    delete:
      tags:
        - user
      summary: Delete user
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      description: This can only be done by the logged in user.
      operationId: deleteUser
      parameters:
        - name: username
          in: path
          description: The name that needs to be deleted
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid username supplied
        '404':
          description: User not found
components:
  schemas:
    NATIONALITYS:
      type: object
      properties:
        nationalityList:
          type: array
          items:
            $ref: '#/components/schemas/NAT_ITEM'

    NAT_ITEM:
      type: object
      properties:
        cod:
          type: string
          description: "Código"
          example: "ALE"
        descr:
          type: string
          description: "Nombre o descripción del país"
          example: "ALEMANA"
        itm:
          type: string
          description: "Identificador de tipo de ítem"
          example: "NAC"
        value:
          type: number
          format: float
          description: "Valor numérico asociado"
          example: 0
    DOCTYPES:
      type: object
      properties:
        doctypeList:
          type: array
          items:
            $ref: '#/components/schemas/DOC_ITEM'
    DOC_ITEM:
      type: object
      properties:
        cod:
          type: string
          description: "Código"
          example: "CI"
        descr:
          type: string
          description: "Nombre o descripción del país"
          example: "Cédula de Identidad 00 "
        itm:
          type: string
          description: "Identificador de tipo de ítem"
          example: "DOC"
        value:
          type: number
          format: float
          description: "Valor numérico asociado"
          example: 0

    COUNTRIES:
        type: object
        properties:
          countriesList:
            type: array
            items:
              $ref: '#/components/schemas/COUNTRY_ITEM'

    COUNTRY_ITEM:
      type: object
      properties:
        cod:
          type: string
          description: "Código ISO o interno del país"
          example: "ARG"
        descr:
          type: string
          description: "Nombre o descripción del país"
          example: "ARGENTINA "
        itm:
          type: string
          description: "Identificador de tipo de ítem"
          example: "PAI"
        value:
          type: number
          format: float
          description: "Valor numérico asociado"
          example: 200.0000
    INVOICES:
      type: object
      properties:
        boucherCode:
          type: string
          description: COMPROBANTE
          examples:
            - 'COMPROBANTE'
        internalBoucherCode:
          type: string
          description: NUMERO DE COMPROBANTE
          examples:
            - 'NUMERO DE COMPROBANTE'
        productCode:
          type: string
          description: CODIGO DE PROVEEDOR
          examples:
            - 'CODIGO DE PROVEEDOR'
        clientCode:
          type: string
          description: CODIGO DE CLIENTE
          examples:
            - 'CODIGO DE CLIENTE'
        customerToInvoice:
          type: string
          description: CLIENTE A FACTURAR
          examples:
            - 'CLIENTE A FACTURAR'
        expNumber:
          type: string
          description: NUMERO DE EXPEDIENTE
          examples:
            - 'NUMERO DE EXPEDIENTE'
        paxNumber:
          type: string
          description: CODIGO DE PASAJERO
          examples:
            - 'CODIGO DE PASAJERO'
        recipientName:
          type: string
          description: NOMBRE DE DESTINATARIO
          examples:
            - 'JUAN'
        address:
          type: string
          description: DIRECCION
          examples:
            - 'JUAN'
        postalCode:
          type: string
          description: CODIGO POSTAL
          examples:
            - 'C.P'
        locality:
          type: string
          description: LOCALIDAD
          examples:
            - 'LOCALIDAD'
        province:
          type: string
          description: PROVINCIA
          examples:
            - 'PROVINCIA'
        country:
          type: string
          description: País
          examples:
            - 'PAÍS'
        documentCode:
          type: string
          description: CÓDIGO DE DOCUMENTO
          examples:
            - 'CÓDIGO DE DOCUMENTO'
        cuitNro:
          type: string
          description: Nro de cuit
          examples:
            - 'Nro de cuit'
        invoiceDate:
          type: string
          format: date-time
          description: FECHA DE FACTURA
          examples:
            - 2023-10-25T10:00:00Z
        expirationDate:
          type: string
          format: date-time
          description: FECHA DE VENCIMIENTO
          examples:
            - 2023-10-25T10:00:00Z
        accountingCode:
          type: string
          description: CODIGO DE CONTABILIDAD
          examples:
            - 'CODIGO DE CONTABILIDAD'
        exchangeToPesos:
          type: number
          description: CAMBIO A PESOS
          examples:
            - 350.50
        amountTopayCCte:
          type: number
          description: IMPORTE A PAGAR CTA. CTE.
          examples:
            - 350.50
    CLIENTS:
      type: object
      properties:
        clientId:
          type: string
          description: CODIGO DE CLIENTE
          examples:
            - '00054'
        name:
          type: string
          description: NOMBRE
          examples:
            - BAGO
        formalName:
          type: string
          description: Razon social
          examples:
            - "Laboratorios BAGO S.A."
        address:
          type: string
          description: DIRECCION
          examples:
            - "Av.Delepiane 5433"
        address1:
          type: string
          description: Adicional direccion
        postalCode:
          type: string
          description: CODIGO POSTAL
          examples:
            - "1566"
        place:
          type: string
          description: LOCALIDAD
          examples:
            - "Buenos Aires"
        estate:
          type: string
          description: CODIGO DE PROVINCIA
          examples:
            - "Capital Federal"
        country:
          type: string
          description: CODIGO DE PAIS
          examples:
            - "Argentina"
        telephone:
          type: string
          description: TELEFONO
          examples:
            - "+541147889988"
        languaje:
          type: string
          description: Idioma del cliente
          examples:
            - "SPN"
        fax:
          type: string
          description: NUMERO DE FAX
          examples:
            - "+541147889955"
        email:
          type: string
          description: Direccion E-Mail
          examples:
            - "info@bago.com.ar"
        webPage:
          type: string
          description: Web Page del Cliente
          examples:
            - "www.bago.com.ar"
        vatType:
          type: string
          description: CONDICION DE IVA
          examples:
            - "RI"
        vat:
          type: string
          description: NUMERO DE GANANCIAS
          examples:
            - "3012345678"
        clientType:
          type: string
          description: TIPO DE CLIENTE
          examples:
            - "EMP"
        salesman:
          type: string
          description: CODIGO DE VENDEDOR
          examples:
            - "EGV"
        lastFile:
          type: string
          description: ULTIMO NUMERO DE EXP
          examples:
            - "AB776"
        lastDateOperation:
          type: string
          format: AAAAMMDD
          description: FECHA ULTIMA OPERACI
          examples:
            - "20230812"
        lastPassenger:
          type: string
          description: ULTIMO PASAJERO
          examples:
            - "00012"
        comments:
          type: string
          description: OBSERVACIONES
          examples:
            - "sub cliente"
        Credit:
          type: boolean
          description: AUTORIZA CREDITO
          examples:
            - true
        CreditLimit:
          type: number
          format: double
          description: LIMITE DE CREDITO
          examples:
            - 30000
        CrediPercentageUsed:
          type: number
          format: double
          description: Lte credito usado
          examples:
            - 20
        promoter:
          type: string
          description: PROMOTOR/AGENTE GRAL
          examples:
            - "EGV"
        notes:
          type: string
          description: Notas del Cliente
          examples:
            - "Transferencias bancarias"
        nacionality:
          type: string
          description: NACIONALIDAD
          examples:
            - "ARG"
        documentType:
          type: string
          description: TIPO DE DOCUMENTO
          examples:
            - "CUI"
        externalKey:
          type: string
          description: External Key
        logoUri:
          type: string
          description: Logo del cliente
          examples:
            - "bago/logochico.jpg"
        emailInvoice:
          type: string
          description: Mail Fact Electronic
          examples:
            - "juana@bago.com.ar"
        clientIdRelated:
          type: string
          description: Cliente relacionado    
    CONTACTS:
      type: object
      properties:
        userid:
          type: string
          description: Codigo de contacto
        lastName:
          type: string
          description: Apellido
        Name:
          type: string
          description: Nombre
        fullName:
          type: string
          description: Apell+Nombre p/CDX
        address:
          type: string
          description: Domicilio
        telephone:
          type: string
          description: Telefono
        email:
          type: string
          description: e-mail
        postalCode:
          type: string
          description: Codigo postal
        place:
          type: string
          description: Localidad
        estate:
          type: string
          description: Codigo de Provincia
        country:
          type: string
          description: Codigo de Pais
        birth:
          type: string
          format: AAAAMMDD
          description: Fecha de nacimiento
        idDocumentType:
          type: string
          description: Codigo de documento
        idDocumentNumber:
          type: string
          description: Numero de documento
        comments:
          type: string
          description: Observaciones
        nacionality:
          type: string
          description: Nacionalidad
        sex:
          type: string
          description: Sexo
        notes:
          type: boolean
          description: Notas
        externalKey:
          type: string
          description: External Key
        language:
          type: string
          description: Lenguaje
        nickName:
          type: string
          description: Nick name web
        defaultOffice:
          type: string
          description: Sucursal x default
        profile:
          type: boolean
          description: Perfil del Contacto
        hasVStour:
          type: boolean
          description: Es Usuario de Vstour
        userVStour:
          type: string
          description: Usuario de Vstour
        position:
          type: string
          description: Cargo en Cliente
          examples:
            - "Jefe de ventas"
        associatedSalesman:
          type: string
          description: Vendedor asociado
          examples:
            - "EGV"
        webAttributes:
          type: boolean
          description: Atributos WEB
    ACCOUNTS:
      type: object
      properties:
        clientID:
          type: string
          description: CLIENTE
        fileNumber:
          type: string
          description: EXPEDIENTE
        paxID:
          type: string
          description: Codigo de pasajero
        transactionDate:
          type: string
          format: AAAAMMDD
          description: FECHA
        accountType:
          type: string
          description: CONTABILIDAD
        transactionType:
          type: string
          description: TIPO DE COMPROBANTE
        transactionCode:
          type: string
          description: COMPROBANTE
        transactionNumber:
          type: string
          description: NUMERO DE COMPROBANT
        transactiondue:
          type: string
          format: AAAAMMDD
          description: VENCIMIENTO
        transactionAmount:
          type: number
          format: double
          description: IMPORTE
        transactionPending:
          type: number
          format: double
          description: Importe Actual
        transactionLocalPending:
          type: number
          format: double
          description: Importe Mnd Local
        transactionComments:
          type: string
          description: OBSERVACIONES
        transactionForm:
          type: string
          description: LETRA FAC.LEGAL
        transactionBranch:
          type: string
          description: SUC.  FAC.LEGAL
        transactionFormNumbe:
          type: string
          description: NRO.  FAC.LEGAL
    User:
      type: object
      properties:
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        entityId:
          type: number
        entityName:
          type: string
    THIRDPARTIES:
      type: object
      properties:
        client:
          $ref: '#/components/schemas/CLIENTS'
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/CONTACTS'
      required:
        - client
    PASSENGER:
      type: object
      properties:
        paxFirstName:
          type: string
          description: NOMBRE
          examples:
            - 'Juan'
        paxLastName:
          type: string
          description: APELLIDO
          examples:
            - 'Perez'
        paxAdress:
          type: string
          description: DOMICILIO
          examples:
            - 'Corrientes 2300'
        paxPhone:
          type: string
          description: TELEFONO
          examples:
            - '2215112809'
        paxEmail:
          type: string
          description: EMAIL
          examples:
            - 'juan@gmail.com'
        paxDocument:
          type: string
          description: DOCUMENTO
          examples:
            - 'empty'
        paxDocumentNumber:
          type: string
          description: NUMERO DE DOCUMENTO
          examples:
            - 'empty'
        paxNacionality:
          type: string
          description: NACIONALIDAD
          examples:
            - 'empty'
    PASSENGERS:
      type: object
      properties:
        passengersList:
          type: array
          items:
           $ref: '#/components/schemas/PASSENGERS_ITEM'
    PASSENGERS_ITEM:
      type: object
      properties:
        centerCosts:
          type: string
          example: ""
        countryResident:
          type: string
          example: ""
        employeeCode:
          type: string
          example: ""
        paxAddress:
          type: string
          example: ""
        paxAniversaryDate:
          type: string
          format: date
          example: " "
        paxBirthDate:
          type: string
          format: date
          example: " "
        paxCity:
          type: string
          example: ""
        paxCode:
          type: string
          example: "00001"
        paxCountryDocument:
          type: string
          example: ""
        paxCountrySecondDocument:
          type: string
          example: ""
        paxCustomerCode:
          type: string
          example: "00090"
        paxDocument:
          type: string
          example: "DNI"
        paxDocumentNumber:
          type: string
          example: "14140767"
        paxEmail:
          type: string
          format: email
          example: ""
        paxExpirationVisaUsa:
          type: string
          example: " "
        paxExtra:
          type: string
          example: ""
        paxFirstName:
          type: string
          example: "Pepe"
        paxFrequent:
          type: boolean
          example: false
        paxGroup:
          type: string
          example: ""
        paxLastName:
          type: string
          example: "Pepiri"
        paxMemberNumber:
          type: string
          example: ""
        paxNacionality:
          type: string
          example: "ARG"
        paxName:
          type: string
          example: "PEPIRI, PEPE"
        paxNotActive:
          type: boolean
          example: false
        paxNotes:
          type: string
          example: ""
        paxObservations:
          type: string
          example: ""
        paxOccupation:
          type: string
          example: ""
        paxPassportExpiration:
          type: string
          example: " "
        paxPassportExpiration2:
          type: string
          example: " "
        paxPhone:
          type: string
          example: ""
        paxRelaVal:
          type: boolean
          example: false
        paxRelax:
          type: string
          example: ""
        paxSecondDocument:
          type: string
          example: ""
        paxSecondDocumentNro:
          type: string
          example: ""
        paxSex:
          type: string
          example: "M"
        paxSpecialService:
          type: string
          example: ""
        paxType:
          type: string
          example: "A"
        stateCode:
          type: string
          example: ""
        zipCode:
          type: string
          example: ""
    STATUS:
        type: object
        properties:
          cod:
            type: string
            description: "Código de estado de la operación"
            example: "200"
          descrip:
            type: string
            description: "Mensaje descriptivo del estado"
            example: "Ok"
    PROVINCES:
      type: object
      properties:
        provincesList:
          type: array
          items:
            $ref: '#/components/schemas/Province'
        status:
            $ref: '#/components/schemas/Status'
    Province:
      type: object
      properties:
        cod:
          type: string
          description: "Código abreviado de la provincia"
          example: "BUE"
        descr:
          type: string
          description: "Nombre o descripción de la provincia"
          example: "BUENOS AIRES"
        itm:
          type: string
          description: "Identificador de tipo de ítem"
          example: "PRV"
        value:
          type: number
          format: double
          description: "Valor numérico asociado"
          example: 0.0000
    
    Status:
      type: object
      properties:
        cod:
          type: string
          example: "200"
        descrip:
          type: string
          example: "Ok"
    FILES:
      type: object
      properties:
        fileCode:
          type: string
          description: EXPEDIENTE
          examples:
            - '00054'
        fileBeneficiaries:
          type: string
          description: Beneficiarios
          examples:
            - 'fdf'
        clientStatus:
          type: string
          description: STATUS DEL CLIENTE
          examples:
            - ''
        fileStartService:
          type: string
          format: date-time
          description: INI SERVICIOS
          examples:
            - 2023-10-25T10:00:00Z
        fileEndService:
          type: string
          format: date-time
          description: FIN SERVICIOS
          examples:
            - 2024-10-25T10:00:00Z
        fileObservations:
          type: string
          description: OBSERVACIONES
          examples:
            - 'Empty'
        fileCurrency:
          type: string
          description: MONEDA
          examples:
            - 'Empty'
        fileTotalSale:
          type: number
          description: VENTA TOTAL
          examples:
            - 1234
        accountBalance:
          type: number
          description: SALDO CTA. CORRIENTE
          examples:
            - 1234
        fileCustomer:
          type: string
          description: FILE DEL CLIENTE
          examples:
            - '1234'
        card:
          type: number
          description: TARJETA
          examples:
            - 1234
        totalRecoveredCurrencyFile:
          type: number
          description: Tot.Cob.en Mnd Exp
          examples:
            - 1234
        fileDate:
          type: string
          format: date-time
          description: FECHA
          examples:
            - 2023-10-25T10:00:00Z
        fileDestination:
          type: string
          description: DESTINO
          examples:
            - 'Destino'
        fileAmountMajorPax:
          type: number
          description: Cant.Pax mayores
          examples:
            - 1234
        FileAmountMinorPax:
          type: number
          description: Cant.Pax menores
          examples:
            - 1234
        fileAmountPaxInfo:
          type: number
          description: Cant.Pax infoa
          examples:
            - 1234
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header   
      name: apikey
      description: La clave API que contiene el identificador del cliente (clicod).
    BearerAuth:
      type: http
      scheme: bearer   # El tipo de esquema es Bearer (el estándar para tokens)
      bearerFormat: NoCaduca # (Opcional) Nota para indicar que no tiene vencimiento
      description: Token devuelto en el login que identifica al contacto logueado.